.fabulous {
    color: #4a8291;
}

ion-button {
    width: 75%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #624fa5;
}

p {
    color: #a3a0e4;
}

ion-card-title {
    --color: #554883;
}